[Unit]
Description=Radarr4k Daemon
After=syslog.target network.target

[Service]
# Change the user and group variables here.
User=swizz
Group=swizz

Type=simple

# Change the path to Radarr or mono here if it is in a different location for you.
ExecStart=/opt/Radarr4k/Radarr -nobrowser --data=/home/swizz/.config/Radarr4k
TimeoutStopSec=20
KillMode=process
Restart=on-failure

# These lines optionally isolate (sandbox) Radarr from the rest of the system.
# Make sure to add any paths it might use to the list below (space-separated).
#ReadWritePaths=/opt/Radarr /path/to/movies/folder
#ProtectSystem=strict
#PrivateDevices=true
#ProtectHome=true

[Install]
WantedBy=multi-user.target
